body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.container {
    width: 680px;
    height: 1500px;
    background-color: #f4ecec;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;

}
.header {
    background: url(../img/background\ image.png) no-repeat, right;
    background-position: top;
    background-position: right;
    height: 580px;
    width: 670px;
}
.logo {
    display: flex;
    padding-top: 80px;
    margin-left: 70px;
}
.logo_1 {
    height: 25px;
    margin-top: 5px;
}
.title {
    color: #0672d7;
    height: 20px;
    font-size: 15px;
    width: 110px;
    font-weight: 500;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.info {
    color: #090909;
    font-weight: 700;
    height: 115px;
    width: 500px;
    margin-left: 70px;
    margin-top: 90px;
    
}
.p {
    width: 500px;
    height: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3f4344;
    margin-left: 70px;
    margin-top: -30px;
}
.a {
    text-decoration: none;
}
hr {
    width: 500px;
    height: 1px;
    background-color: #adb0b5;
    margin-top: 75px;
}
.page {
    height: 90px;
    width: 460px;
    margin: auto;
    padding-top: 35px;
    display: flex;
    position: static;
}
.title_h2 {
    width: 145px;
    height: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #131c24;
    margin-top: 0px;

}
.pp {
    Width: 270px;
    Height: 40px;
    font-size: 15px;
    line-height: 20px;
    color: #475356;
}
.arrow {
    margin-top: 30px;
}
.b {
    text-decoration: none;
}
.title_2 {
    Width: 380px;
    Height: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 25px;
    padding: auto;
}
.hr {
    width: 500px;
    height: 1px;
    background-color: #040404;
    margin-top: 75px;
}
.container_footer {
    height: 680px;
    width: 1460px;
}
.title_3 {
    max-width: 450px;
    Height: 50px;
    font-Weight: 400;
    font-size: 15px;
    Line-height: 25px;
    color: #99c4d3;
    margin-left: 130px;
    margin-top: 45px;
}
.link {
    display: flex;
    margin-left: 270px;
    margin-top: 35px;

}
.link1:hover {
    height: 30px;
    width: 30px;

}
.link1 {
    padding: 0 1rem;
}
.butt_1 {
    margin: auto;
    margin-left: 120px;
    margin-top: 25px;

}
.butt_2:hover {
    background-color: rgb(86, 38, 245);
}
.butt_2 {
    margin-top: 40px;
    height: 50px;
    Width: 440px;
    Height: 50px;
    background: #1890FF;
    border-radius: 10px;
    border: none;
    
}
.butt {
    width: 260px;
    height: 50px;
    background-color: #3195f2;
    border-radius: 10px;
    margin-left: 70px;
    border: none;
}
.btn:hover {
    background-color: rgb(55, 8, 209);
}
.title_butt {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    
}